<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn Post Likes</title>

</head>

<body>
    <h1>LinkedIn Post Likes by TEJAS and 2 secret Agents</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Post URL</th>
            <th>Like Count</th>
        </tr>
        {% for data, like_count in zip(post_data, like_counts) %}
        <tr>
            <td>{{ data["name"] }}</td>
            <!-- <td>{{ data["postUrl"] }}</td> -->
            <td><a href="{{ data['postUrl'] }}" target="_blank">open {{ data['name'] }} 's linked in post</a></td>
            <!-- <td><a href="{{ data['postUrl'] }}" target="_blank">{{ data['postUrl'] }}</a></td> -->
            <td>{{ like_count }}</td>
        </tr>
        {% endfor %}
    </table>
    <script src="./myexe.js"></script>
</body>

</html>